target/
fullnode/target/
dspnode/target/
basenode/target/
zerospend/target/
tools/target/
trustscore/target/
nodemanager/target/
logs/
!.mvn/wrapper/maven-wrapper.jar
dsp*.properties
fullnode*.properties
trustscore*.properties
zerospend*.properties
financialserver*.properties
nodemanager*.properties
history*.properties
storage*.properties
*.csv
*.json
*.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### DB ###
rocksDB/
fullnode/rocksDB/*
DSPNoderocksDB*/
FullNoderocksDB*/
TrustScorerocksDB*/
ZeroSpendrocksDB*/
initialDatabase/
ZeroSpendServerrocksDB*/
FinancialServerrocksDB*/
NodeManagerrocksDB*/
HistoryNoderocksDB*/

*.jar
*.class
MANIFEST.MF
*.original

fullnode/FullNoderocksDB
/.vscode
/configs
nohup.out
